<!DOCTYPE html>
<html>
	{{- partial "site/head.html" . -}}
	<body class="Site {{ if .IsHome }}Site--home{{ end}} is-noJs">
		{{- partial "site/header.html" . -}}

		<main class="Site-main">
			{{- block "main" . }}{{- end }}
		</main>

		{{- partial "site/footer.html" . -}}
	</body>
</html>
