{{ define "main" }}
{{ $allSeries := where .Site.Pages "Section" "series" }}
{{ $selectedSerie := (first 1 (where $allSeries "Params.slug" .Params.serie ))}}

<article class="Article">
    <header class="Article-header {{if .Params.image}}Article-featuredImage{{end}}" style='background-image: url("{{.Params.image | relURL | safeCSS }}");'>
	{{with .Params.image_caption}}
	<figure class="Article-featuredImageCaption">
	    <figcaption>{{.}}</figcaption>
	</figure>
	{{end}}
	<div class="Article-titleInfo">
	    {{ if (and .Params.serie $selectedSerie) }}
	    <aside class="Article-series">
		{{range $selectedSerie}}
		<span>{{.Title}}</span>
		{{end}}
	    </aside>
	    {{ end }}
	    <h1 class="Article-title">
		<a href="{{ .Permalink }}">
		    {{ .Title }}
		</a>
	    </h1>
	</div>
    </header>
    
    <main class="Article-main">
	<footer class="Article-meta">
	    {{with .Params.date_published }}
	    <aside class="Article-datePublished">
					{{dateFormat "02 Jan 2006" . }}
			</aside>
	    {{end}}
	    <!-- {{with .Params.language }}
		 <aside class="Article-language">{{.}}</aside>
		 {{end}} -->
	</footer>
	<div class="Article-content">
	    {{ .Content }}
	</div>
    </main>

    {{ with .Params.links }}
    <footer class="Article-footer">
	<!-- <h2 class="Article-footerTitle">Interesting links</h2> -->
	<ol class="Article-links">
	    {{ range . }}
	    <li class="Article-link">{{.link | markdownify }}</li>
	    {{ end }}
	</ol>
    </footer>
    {{ end }}
    
</article>
{{ end }}
