{{ $themes := (where .Site.Pages "Section" "themes") }}
{{ $themes = (where $themes "Params.index" "!=" nil) }}

<nav class="Nav Nav--main">
	{{ $currentPage := . }}
	{{ range (sort $themes "Params.index" "asc")}}
	<nav-item>
		<a href="{{ "/themes" | relLangURL }}{{ printf "%s%s" "/" .Params.slug }}">
			{{ .Params.title }}
		</a>
	</nav-item>
	{{ end }}

	{{ range .Site.Menus.main }}
	<nav-item {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}>
		<a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
	</nav-item>
	{{ end }}
</nav>
