{{ define "main" }}

{{ $articles := (where .Site.RegularPages "Section" "articles") }}
{{ $lastArticles :=  (sort $articles ".Params.date_published" "desc") }}

<article class="Home">
    {{if .Params.image}}
	<div class="Home-featuredImage" style='background-image: url("{{.Params.image | relURL | safeCSS }}");'>
	</div>
	{{end}}
    <main class="Home-main">
	<section>
	    {{ .Content }}
	</section>
	<section class="Section Container">
	    <main class="Cards Cards--home">
		{{ range (first 1 $lastArticles) }}
		<article class="Card">
		    <a href="{{ .Permalink }}" class="Card-link">
			<div class="Card-content">
			    <h3 class="Card-title">
				<span class="Card-title-span">{{ .Title }}</span>
			    </h3>
			</div>
			{{if .Params.image}}
			<div class="Card-media">
			    <img src="{{.Params.image | relURL }}" alt="{{.Title}}" class="Card-image" loading="lazy">
			</div>
			{{end}}
		    </a>
		</article>
		{{ end }}
	    </main>
	</section>
    </main>
</article>
{{ end }}
