{{ define "main" }}
{{ $context := . }}

<section class="Section Container">
	{{ if .Title}}
	<header class="Section-header">
		<h2 class="Section-title">{{.Title}}</h2>
		{{ with .Params.description}}
		<div class="Section-description">{{ . | markdownify }}</div>
		{{ end }}
	</header>
	{{ end }}
	<main class="Cards Cards--list">
		<!-- <h1>All Articles</h1> -->
		{{ range (sort .Pages ".Params.date_published" "desc") }}
		{{ partial "article-card" . }}
		{{ end }}
	</main>
</section>
{{ end }}
